.profilepic {max-width: 100%;}
body{background-color: aliceblue;}
.myprogress::-webkit-progress-value {background-color: hotpink !important;}
.mynonprogress::-webkit-progress-value {background-color: grey !important;}
.photos:{height: 200; width: 300;}
.myiconclass {font-size: 20px;}
.location{display:inline;}